@font-face {
  font-family: 'iconfont';  /* project id 1619965 */
  src: url('//at.alicdn.com/t/font_1619965_wbz1261gwm.eot');
  src: url('//at.alicdn.com/t/font_1619965_wbz1261gwm.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1619965_wbz1261gwm.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1619965_wbz1261gwm.woff') format('woff'),
  url('//at.alicdn.com/t/font_1619965_wbz1261gwm.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1619965_wbz1261gwm.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon-gouwuche:before {
  content: "\e609";
}

.icon-lvyou:before {
  content: "\e647";
}

.icon-daipingjia:before {
  content: "\e68f";
}

.icon-car:before {
  content: "\e70a";
}

.icon-user:before {
  content: "\e71f";
}

.icon-lock:before {
  content: "\e614";
}

.icon-icon-test:before {
  content: "\e626";
}

.icon-user1:before {
  content: "\e677";
}

.icon-qianzheng:before {
  content: "\e891";
}

.icon-zhuanhuan:before {
  content: "\e60d";
}

.icon-shouyedianpujishishangcheng:before {
  content: "\e61b";
}

.icon-jiudian:before {
  content: "\e640";
}

.icon-kefu:before {
  content: "\e601";
}

.icon-baomingchenggong:before {
  content: "\e63d";
}

.icon-order:before {
  content: "\e643";
}

.icon-hanglixiang:before {
  content: "\e620";
}

.icon-dizhi:before {
  content: "\e656";
}

.icon-tuikuandan:before {
  content: "\e615";
}

.icon-HOMEMESSAGE:before {
  content: "\e7eb";
}

.icon-Order:before {
  content: "\e860";
}

.icon-building_:before {
  content: "\e906";
}

.icon-daifukuan:before {
  content: "\e606";
}

.icon-Homehomepagemenu:before {
  content: "\e9ce";
}

